# Parse Hostname
Parse a host name to figure out from where a visitor is visiting.

## Installation

```bash
yarn add @ta-interaktiv/parse-hostname
```

{{>main}}


## Contributing

The specifications of the module are in the `test` directory and code can be tested against by running

```bash
yarn run test
```


[![JavaScript Style Guide](https://cdn.rawgit.com/feross/standard/master/badge.svg)](https://github.com/feross/standard)


